@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gelasio", sans-serif;
  scroll-behavior: smooth;
  cursor: none;
}

html {
  height: -webkit-fill-available;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

/* Font */
.font-chaney {
  font-family: "CHANEY";
}

/* Custom Scrollbar */

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* Cursor */
.cursor-dot {
  width: 15px;
  height: 15px;
  display: none;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Moving Background Image */
.bg-with-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../public/images/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.125;
  z-index: -1;
  animation: backgroundMove 20s linear infinite alternate;
}

/* Static Background Image */
.bg-with-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../public/images/statue.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 350px;
  margin: auto;
  z-index: -1;
}

.bg-paint-brush,
.bg-crown {
  background-image: url("../public/images/paintBrush.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 49.5%;
  background-position-y: 14%;
  animation: skewAndScaleBrush 0.375s infinite alternate;
}

.bg-crown {
  background-image: url("../public/images/crown.png");
  background-position-x: 50%;
  background-position-y: 4%;
  animation: skewAndScaleCrown 0.5s infinite alternate;
}

/* Animations */

/* Static Background Image */
@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Paint Brush Skew and Scale */
@keyframes skewAndScaleBrush {
  0% {
    transform: skewY(0deg) scale(1);
  }
  33% {
    transform: skewY(10deg) scale(1.025);
  }
  66% {
    transform: skewY(10deg) scale(1);
  }
  100% {
    transform: skewX(0deg) scale(1);
  }
}

/* Crown Skew and Scale */
@keyframes skewAndScaleCrown {
  0% {
    transform: skewY(0deg) scale(1);
  }
  33% {
    transform: skewY(-15deg) scale(1.025);
  }
  66% {
    transform: skewY(15deg) scale(1);
  }
  100% {
    transform: skewY(0deg) scale(1);
  }
}
